#Портфолио {
    padding-left: 650px;
    padding-right: 600px;
    font-size: 100px;
    text-decoration: underline;
}
table{
    background-color: rgb(201, 201, 201);
    border: 10px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
#ФИО {
    padding-top: 50px;
    font-size: 50px;
    text-decoration: underline;
}
#Дата{
    font-size: 50px;
}
#Моипроэкты{
    padding-top: 50px;
    font-size: 70px;
}
#Мойблог{
    width: 550px;
    height: 350px;
}
#Пропутешествия{
    width: 550px;
    height: 350px;
}
